# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Android
*.keystore
*.jks
local.properties
.gradle/
captures/
gradle-wrapper.jar
.externalNativeBuild
.cxx/

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/flutter_export_environment.sh
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcuserstate
xcuserdata/

# Web
/web/*.js
/web/*.js_

# macOS
.DS_Store

# Exceptions
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Custom
*.log
*.tmp
*~
.env
secrets.json

# Database
*.isar
*.isar.lock

# Audio cache
audio_cache/

# Large files
*.zip
*.gz
scripts/*.csv
